<html>
    <head>
        <title>Send to Pharmacy</title>
    </head>
    <body>
        <h2>Send Batch to Pharmacy</h2>
        <form method="POST">
        {% csrf_token %}

        <label for="id_batch">Batch</label>
        {{ form.batch }}

        <label for="id_pharmacy">Pharmacy</label>
        {{ form.pharmacy }}

        <label for="id_quantity_sent">Quantity</label>
        {{ form.quantity_sent }}

        <button type="submit">Send</button>
        </form>
    </body>    
<html>        