<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Test</title>
  </head>
  <body>
    <h1>Test Batch Form</h1>
    <form method="POST">
      {% csrf_token %} {{ batch_form.as_p }}
      <button type="submit">Submit Batch Form</button>
    </form>

    <hr />

    <h1>Test Drug Form</h1>
    <form method="POST">
      {% csrf_token %} {{ drug_form.as_p }}
      <button type="submit">Submit Drug Form</button>
    </form>

    <h1>Test Distro Form</h1>
    <form method="POST">
      {% csrf_token %} {{ distributor_form.as_p }}
      <button type="submit">Submit Drug Form</button>
    </form>
  </body>
</html>
